<h1>FElhasználók</h1>
<p>Felhasználók adatainak a kezelése.</p>
<div class="container">
    <div class="row">
        <div id="usersContent" class="col-sm-8"></div>
        <div class="col-sm-4">
            <form id="userForm1">
                <div class="mb-3 mt-3">
                    <label for="username" class="form-lable">Felhasználónév</label>
                    <input type="text" class="form-control" placeholder="pl.zoli01" name="username" id="username">
                </div>
                <div class="mb-3 mt-3">
                    <label for="email" class="form-lable">Email</label>
                    <input type="email" class="form-control" placeholder="zoli01@gmail.com" name="email" id="email">
                </div>
                <div class="mb-3 mt-3">
                    <label for="pass" class="form-lable">Jelszó</label>
                    <input type="password" class="form-control" placeholder="lealább 6 karakter" name="pass" id="pass">
                </div>
                <button type="submit" class="btn btn-primary">Elküld</button>
                <button id="updateButton" type="button" class="btn btn-warning">Módosít</button>
            </form>
        </div>
    </div>
</div>